<ul class="list-group">
    {% for page in articles %}
        <li class="list-group-item">
            <h2><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h2>
            {% if page.descr %}
            <p>{{ page.descr }}</p>
            {% endif %}
        {% if page.meta.tags|length %}
            Tags:
            {% for page_tag in page.meta.tags %}
                <a href="{{ url_for("tag", tag=page_tag) }}">#{{ page_tag }}</a>
            {% endfor %}
        {% endif %}
        </li>
    {% else %}
        <li class="list-group-item">No page.</li>
    {% endfor %}
</ul>
